@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 17px;
    background-color: #faf1f8;
}
.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 20px;
}
h2{
    margin: 30px 0px 0px 0px;
}
form{
    display: contents;
}
input{
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #c54ab5;
    border-radius: 3px ;
}

.btn-sub {
    background-color: #c54ab5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn-sub:hover {
    background-color: #f1a2dd;
    box-shadow: 0 0 3px 2px #c54ab5;
  }

.pokemonList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px 20px;
    align-items: center;
  }

.pokemonList li{
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 10px;
   
    text-align: center;
    word-spacing: 20px;
    background-color: #f1a2dd;
    
}