#hero h1{
    font-size: 25px;
    color: rgb(191, 191, 191);
}
#hero{
    display: flex;
    flex-direction: column;
align-items: center;
    background-color: darkcyan;
    padding: 20px;
}
h1{
    color:red;
    font-size: 20px;
    text-align: center;
}
.most-popular, .best-seller{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: antiquewhite;
padding: 20px;
margin-bottom: 20px;
}
.most-popular .best-seller, img{
    width: 100px;
}
.most-popular .best-seller, p{
    font-size: 10px;
}

