.User, .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


  
}
.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    padding: 20px 40px;
    .avatar{
        width: 150px;
        background-color: #fff;
        border: 1px solid grey;
        border-radius: 100%;
    }
}


// .buttons {
//     display: flex;
//     gap: 10px;
//   }



@media screen and (min-width: 800px) {


}